<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
        <a class="navbar-brand" href="/campgrounds">YelpCampground</a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="#">Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#"  >Logout</a>
            </li>
        </ul>
    
    </div>
</nav>

{{!-- <h1>Create a new Campground</h1>

<form class="form-group" action="/campgrounds" method="POST">

    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button type="submit" class="btn btn-primary">Submit</button>


</form> --}}